@using System.Web.Mvc.Html
@model MvcApplication9.Models.RegisterModel
@{
    ViewBag.Title = "Регистрация";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <table id="registerTable">
        <tr>
            <td>@Html.LabelFor(m => m.LastName)</td>
            <td>@Html.TextBoxFor(m => m.LastName)</td>
        </tr>    
        <tr>
            <td>@Html.LabelFor(m => m.FirstName)</td>
            <td>@Html.TextBoxFor(m => m.FirstName)</td>
        </tr> 
        <tr>
            <td>@Html.LabelFor(m => m.MiddleName)</td>
            <td>@Html.TextBoxFor(m => m.MiddleName)</td>
        </tr> 
        <tr>
            <td>@Html.LabelFor(m => m.Login)</td>
            <td>@Html.TextBoxFor(m => m.Login)</td>
        </tr> 
        <tr>
            <td>@Html.LabelFor(m => m.Gender)</td>
            <td><fieldset>
                    <select id="Gender" name="MovieType">
                        <option value="true">мужской</option>
                        <option value="false">женский</option>
                    </select>
                </fieldset>
            </td>
        </tr> 
        <tr>
            <td>@Html.LabelFor(m => m.Password)</td>
            <td>@Html.PasswordFor(m => m.Password)</td>
        </tr> 
        <tr>
            <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
            <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
        </tr>
        <tr>
            <td><input type="submit"/></td>
        </tr>
    </table>
}

